<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="loadedAssemblies" type="OrdiOwin.Core.Settings.LoadedAssembliesSettings, OrdiOwin.Core" />
    </configSections>
    <LoadedAssemblies>
        <add assemblyName="OrdiOwin.Controller.dll" />
    </LoadedAssemblies>
    <connectionString>
        <add name="LenovoCIS" providerName="System.Data.OracleClient" connectionString="USER ID=LENOVO_CIS;PASSWORD=CIS123456;DATA SOURCE=(DESCRIPTION =(ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST =172.30.99.3)(PORT = 1521)))(CONNECT_DATA =(SERVICE_NAME = ORCL)))" />
    </connectionString>
</configuration>